*:has(#interview) #navbar > div:nth-child(1) {
    display: none;
}
#interview {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 71.09px);
}
#interview > div:nth-child(1) {
    border-right: 1px solid #eee!important;
    width: 25%;
}
#interview .info-div {
    border-left: 1px solid #eee!important;
    width: 25%;
}
#interview .message-div {
    width: 50%;
    display: flex;
    flex-direction: column;
}
#interview .message-div header {
    height: 90px;
    box-shadow: 0 2px 5px rgba(0,0,0,.050980392156862744);
    border-bottom: 1px solid #eee!important;
}
#interview .message-body {
    flex: 1;
    overflow: auto;
    font-size: 14px;
    padding: 15px 0;
}
#interview .message-body span {
    max-width: 70%;
    white-space: normal; /* Allow line breaks */
    word-break:break-all;
}
#interview .message-body div.me {
    display: flex;
    justify-content: flex-end;
}
#interview .message-body span.me {
    width: fit-content;
    background-color: rgb(0, 132, 255);
    color: white;
    border-radius: 18px;
    padding: 8px 12px;
    margin: 1px 8px;
}
#interview .message-body .you {
    display: flex;
    justify-content: flex-start;
    margin-left: 14px;
}
#interview .message-body span.you {
    width: fit-content;
    background-color: rgb(228, 230, 235);
    border-radius: 18px;
    padding: 8px 12px;
    margin: 1px 8px;
}
#interview .message-body div.has-avatar {
    margin-bottom: 4px;
}
#interview .message-body div.you:not(.has-avatar) .ant-avatar {
    visibility: hidden;
}
#interview .message-body span.you.first-message {
    border-bottom-left-radius: 4px;
}
#interview .message-body span.you.middle-message {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
#interview .message-body span.you.last-message {
    border-top-left-radius: 4px;
}

#interview .message-body span.me.first-message {
    border-bottom-right-radius: 4px;
}
#interview .message-body span.me.middle-message {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
#interview .message-body span.me.last-message {
    border-top-right-radius: 4px;
}

#interview footer {
    padding: 15px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
#interview footer svg {
    cursor: pointer;
    color: rgb(0, 132, 255);
    font-size: 20px;
}
#interview header {
    display: flex;
    align-items: center;
    padding-left: 20px;
    column-gap: 15px;
}
#interview header span {
    font-size: 20px;
    font-weight: 500;
}

#interview > div:nth-child(1) {
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
#interview .info-div h2 {
    color: rgb(72, 72, 72);
}
#interview .info-div {
    padding: 30px;
    overflow: auto;
}
#interview .info-div > div {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    border-radius: 6px;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}
#interview .info-div > div > div {
    margin-top: 15px;
}
#interview .info-div > div a {
    color: rgb(0, 132, 255);
}
*:has(#interview) #footer {
    display: none;
}