#sign-up {
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;
    position: relative;
}
#sign-up > div:nth-child(1) {
    width: 50%;
}
#sign-up > img {
    height: fit-content;
}
#sign-up button.submit-form {
    border: none;
    background-color: #0a66c2;
    color: white;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 600;
    width: 352px;
    height: 48px;
    margin: auto;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
#sign-up button.submit-form:hover {
    background-color: #004182;
}